<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% load crispy_forms_tags %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <h1>Add Account type</h1>
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn-success">
        </form>

        {% if msg %}
            {{msg}}
        {% endif %}

        <table class="table table-striped">
            <thead>
                <tr>
                   <th scope = "col">No.</th>
                   <th scope = "col">Name</th> 
                </tr>
            </thead>
            <tbody>
                {% for accounttype in accounttypes %}
                    <tr>
                        <th scope="row">{{accounttype.id}}</th>
                        <td>{{accounttype.name}}</td>
                        <td>
                            <a href="{% url 'edit_accounttype_page' accounttype.id %}">Edit</a>|
                            <a href="{% url 'delete_accounttype_page' accounttype.id %}" onclick="return confirm('Are you sure you want to delete this account type?')">
                                Delete</a>
                           
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'home_page'%}"class="btn btn-secondary">Home</a>
    </div>

   
    
</body>
</html>