{% extends './base.html' %}

{% load crispy_forms_tags %}
{% block content %}
   <link rel="stylesheet" href="">
    
    <h1>AR BANK</h1>
    <h2>Our Dear Customers Your Welcome to AR BANK'S official website</h2>
    <p>WHERE SECURITY MEETS GROWTH</p>
    <p>Your information is safe with us. Please keep your information confidential</p>
    <div class="row">
      <div class="col-md-3 mb-3">
        <div class="card bg-primary">
          <div class="card-body text-center">
            <h5 class="card-title">Deposits</h5>
            <p class="card-text">Manage all deposits</p>
            <a href="{% url 'add_deposit_page' %}" class="card-link">Go</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="card bg-success">
          <div class="card-body text-center">
            <h5 class="card-title">Withdraws</h5>
            <p class="card-text">View all Withdraws</p>
            <a href="{% url 'add_withdraw_page' %}" class="card-link">Go</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="card bg-warning">
          <div class="card-body text-center">
            <h5 class="card-title">Transfers</h5>
            <p class="card-text">Manage all transfers</p>
            <a href="{% url 'add_transfer_page' %}" class="card-link">Go</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="card bg-danger">
          <div class="card-body text-center">
            <h5 class="card-title"></h5>Transactions</h5>
            <p class="card-text">view all transactions</p>
            <a href="{% url 'add_transaction_page' %}" class="card-link">Go</a>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}